@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #000000;
    --branco: #032CA6;
    --laranja: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #021859 35.49%, #020426 165.37%);
    --fonte-principal: "Poppins";
    --azul: #803DDB;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}